@import "./_variables.scss";

.bold {
  font-weight: $font-bold;
}

.hide {
  display: none;
}

.visible {
  display: block;
}

.space-lg {
  margin: $large;
}

.space-md {
  margin: $medium;
}

.space-sm {
  margin: $small;
}

.flex {
  display: flex;
}

h1 {
  margin-top: 1rem;
}
